<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/font-awesome-4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap/css/custom.css">

    </head>

    <body>
        <div id="wrap">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="/">{{ site.name }}</a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a class="extra" href="/">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container containerPaddingTop" style="display:block">
                <div class=row>
                    <div class="span2">
                        <h2>Follow Me</h2>
                        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-3x"></i></a>
                        <a href="https://github.com/{{ site.repositories }}"><i class="fa fa-github-square fa-3x"></i></a>
                        <a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter-square fa-3x"></i></a>
                        <a href="http://stackoverflow.com/users/467768/{{ site.stackoverflow}}"><i class="fa fa-stack-overflow fa-3x"></i></a>
                    </div>
                    <div class="span10">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted">
                    {{ site.author }}
                </p>
            </div>
        </div>
    </body>
</html>
